body {
}

#Config_List {
}

    #Config_List table {
        width: 100%;
    }

        #Config_List table input[type=text] {
            padding: 4px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
