#Booking_Board {
    margin: 10px 5px 5px 5px;
    text-align:center;
}

    #Booking_Board .Title {
        text-align: left;
        border-left: 4px solid #009aff;
        font-size: 14pt;
        padding: 10px;
        margin-top: -10px;
        color: #009aff;
    }

#Booking_Board .Table1{
    margin:0 auto;
}

    #Booking_Board .Table1 tr td {
        text-align: center;
        background: #ffffff;
        color: #009aff;
    }
        #Booking_Board .Table1 tr .TdTitle {
            text-align: right;
        }
        #Booking_Board .Table1 tr .TdColumn {
            text-align: left;
        }

    #Booking_Board .Table1 span{
        color:red;
    }
    #Booking_Board .Table1 bt{
        background:#009aff;
        color:#ffffff;
        border-bottom:3px solid #0160a8;

    }

    #Booking_Board .Table1 input, textarea {
        background: #ffffff;
        color: #444444;
        border: 1px solid #009aff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding:5px;
    }

    #Booking_Board .Table1 input:hover {
        background: #c8e9ff;
        color: #444444;
        border: 1px solid #009aff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 5px;
    }
    #Booking_Board .Table1 textarea:hover {
        background: #c8e9ff;
        color: #444444;
        border: 1px solid #009aff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 5px;
    }

        #Booking_Board .Table1 input[type="submit"] {
            background: #009aff;
            color: #ffffff;
            border-bottom: 3px #006cbe solid;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 120px;
            height: 33px;
            padding: 5px;
            font-size: 11pt;
        }

        #Booking_Board .Table1 input[type="submit"]:hover {
            background: #009aff;
            color: #ffffff;
            border-bottom: none;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            width: 120px;
            height: 30px;
            margin-top: 3px;
            font-size: 11pt;
        }

