#Article_List .MenuItemTitle {
    margin-top: 14px;
    text-align: left;
    font-size: 17px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #009aff 20%, #fff );
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}
#Article_List dl {
    width: 100%;
}

    #Article_List dl dt {
        margin:10px 10px 5px 15px;
        text-align:left;
        font-size:13pt;
        font-weight:bold;
        line-height:25px;
        width:95%;
        border-bottom:1px #0094ff solid;
        padding:6px 0px 6px 10px;
    }

    #Article_List dl dd {
        margin:5px 5px 20px 25px;
        text-align: left;
        font-size: 11pt;
        line-height: 150%;
        width:90%;
        padding:10px;
    }

    #Article_List dl a:hover {
        color:#0094ff;
    }

    #Article_List .ReadMore {
        margin-top:-15px;
        width: 90px;
        padding: 5px;
        color: #0094ff;
        border: 1px solid #0094ff;
        text-align:center;
    }
        #Article_List .ReadMore:hover {
            color: #000;
            background: #a9ddff;
        }

        #Article_List .ReadMore a {
            color: #0094ff;
        }



        #Article_List .ReadMore a:visited {
            color: #0094ff;
        }
            #Article_List .ReadMore a:hover {
                color: #000;
                background: #a9ddff;
            }
