#Article_Description {
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
}

    #Article_Description dl {
        width: 100%;
        padding: 0 5px 5px 5px;
    }

        #Article_Description dl dt {
            text-align: left;
            font-size: 17px;
            padding: 10px;
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
            border-radius: 10px 0 0 10px;
            box-sizing: border-box;
            background-image: linear-gradient(to right, #009aff 20%, #fff );
        }

        #Article_Description dl dd {
            margin: 5px;
            width: 90%;
            padding: 10px;
        }

    #Article_Description .BackArticleList {
        margin: -15px 20px 100px 20px;
        padding: 5px;
        color: #0094ff;
        border: 1px solid #0094ff;
        text-align: center;
    }

        #Article_Description .BackArticleList:hover {
            color: #fff;
            background: #009aff;
        }

        #Article_Description .BackArticleList a {
            color: #0094ff;
        }



            #Article_Description .BackArticleList a:visited {
                color: #0094ff;
            }

            #Article_Description .BackArticleList a:hover {
                color: #000;
                background: #a9ddff;
            }
