html, body, form {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
    font-family: 微軟正黑體;
    letter-spacing: 0.4px;
}

a {
    color: #555;
    text-decoration: none;
}

div {
    Box-sizing: border-box;
}


#BrowserNotice {
    height: 40px;
    line-height: 36px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: black;
}

    #BrowserNotice .Sentence {
        vertical-align: middle;
    }

    #BrowserNotice .DownloadButton {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 85px;
        height: 21px;
        background-image: url("/_MasterPage/_Image/Base/Download.jpg");
        background-repeat: no-repeat;
        vertical-align: middle;
    }


#Base {
    height: 100%;
}
