.Section {
    margin-bottom: 1.25rem;
}

    .Section:last-of-type {
        margin-bottom: 0;
    }

    .Section .TitleBox {
        margin-bottom: .625rem;
    }

.ItemBox_Wrapper {
    font-size: 0;
}

    .ItemBox_Wrapper .ItemBox {
        position: relative;
        display: inline-block;
        /* (100% / amount) - (margin-right) + (margin-right / amount) */
        width: calc( (100% / 6) - 2.9375rem + (.9375rem / 6) );
        margin-right: .9375rem;
        margin-bottom: .9375rem;
    }

        .ItemBox_Wrapper .ItemBox .Item,
        .ItemBox_Wrapper .ItemBox .SelectItem {
            cursor: pointer;
            float: left;
            display: block;
            width: 100%;
            height: 1.875rem;
            line-height: 1.875rem;
            text-align: center;
            color: #666;
            font-size: .875rem;
            border: 1px solid #bbb;
            border-radius: .3125rem;
            overflow: hidden;
        }

            .ItemBox_Wrapper .ItemBox .SelectItem:hover {
                color: #b40000;
                border: 1px solid #b40000;
            }

            .ItemBox_Wrapper .ItemBox .SelectItem.Selected {
                color: white;
                text-shadow: 0 1px 1px #999;
                border: 1px solid #b40000;
                background-color: #b40000;
            }

        .ItemBox_Wrapper .ItemBox .Edit {
            cursor: pointer;
            position: absolute;
            top: calc( -50% + .1875rem );
            right: 0;
            transform: translateX(calc( 50% - .1875rem ));
        }

        .ItemBox_Wrapper .ItemBox .Add {
            margin: 2px 0 0 0px;
        }

body {
    background: linear-gradient(#666,#222);
    background-color: #222;
    background-repeat: no-repeat;
}

#Base_Admin {
    margin: 0 auto 20px auto;
    width: 1100px;
    height: 100%;
}

    #Base_Admin .Head {
        position: relative;
        z-index: 1;
    }

        #Base_Admin .Head .UserFunction {
        }

            #Base_Admin .Head .UserFunction a,
            #Base_Admin .Head .UserFunction span {
                padding: 4px 5px;
                float: right;
                font-size: 13px;
                color: #f1f1f1;
            }

        #Base_Admin .Head .MainTabList {
        }

            #Base_Admin .Head .MainTabList .MainTab {
                float: left;
                margin: 0 1px 0 0px;
                padding: 2px 8px 0 8px;
                display: block;
                height: 26px;
                line-height: 26px;
                min-width: 100px;
                color: #f1f1f1;
                font-size: 15px;
                letter-spacing: 2px;
                text-align: center;
                text-shadow: 0 1px 0px #000;
                border-radius: 7px 7px 0 0;
                cursor: pointer;
            }

                #Base_Admin .Head .MainTabList .MainTab:hover {
                    color: #000;
                    text-shadow: 0 1px 0px #fff;
                    background-color: #fefefe;
                    border-bottom: 5px solid #fefefe;
                    opacity: 0.5;
                }

                #Base_Admin .Head .MainTabList .MainTab.Selected {
                    color: #111;
                    font-weight: bold;
                    text-shadow: 0 1px 0px #fff;
                    background-color: #fefefe;
                    border-bottom: 5px solid #fefefe;
                    box-shadow: #555 0px -3px 4px;
                    opacity: 1;
                }


        #Base_Admin .Head .SubTabList {
            margin: -6px 0 0 0;
            padding: 12px;
            height: 38px;
            background-color: #fefefe;
            border-radius: 5px 5px 0 0;
            box-shadow: #555 0px -3px 5px;
        }

            #Base_Admin .Head .SubTabList .SubTab {
                float: left;
                margin-left: 30px;
                padding: 0 10px 0 0;
                display: list-item;
                list-style-type: disc;
                color: #777;
                font-size: 13px;
                letter-spacing: 1px;
                opacity: 0.7;
            }

                #Base_Admin .Head .SubTabList .SubTab:hover {
                    opacity: 1;
                }

                #Base_Admin .Head .SubTabList .SubTab.Selected {
                    opacity: 1;
                    font-weight: bold;
                }

        #Base_Admin .Head .Divider {
            margin: 0 14px;
            border-bottom: 1px dotted #666;
        }

    #Base_Admin .Body {
        position: relative;
        z-index: 0;
        margin: -2px 0 0 0;
        padding: 12px;
        border-radius: 0px 0px 5px 5px;
        background-color: #fefefe;
        background: linear-gradient(#fff,#eee);
        box-shadow: #222 0 0 10px;
    }
