#Base_Visitor {
    padding-top: 82px;
}

    #Base_Visitor .SEOkey {
        position: absolute;
        top: -10000px;
    }

    #Base_Visitor .Header {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        background-color: white;
        box-shadow: #ccc 0px 0px 40px;
    }

        #Base_Visitor .Header > .Center {
            margin: 0 auto;
            padding: 10px 0;
            width: 1170px;
        }

        #Base_Visitor .Header .Logo {
            display: inline-block;
            width: 284px;
            height: 61px;
            background-image: url(/_MasterPage/_Image/Base_Visitor/logo.png);
            background-repeat: no-repeat;
            vertical-align: middle;
        }

    #Base_Visitor .SocialNetWorkApp {
        float: right;
        padding-right: 10px;
        padding-top: 14px;
        text-align: center;
        vertical-align: middle;
    }

        #Base_Visitor .SocialNetWorkApp a {
            display: inline-block;
            margin-right: 20px;
            width: 32px;
            height: 32px;
        }

        #Base_Visitor .SocialNetWorkApp .WeChat {
            background-image: url(/_MasterPage/_Image/Base_Visitor/WeChat.png);
            background-repeat: no-repeat;
        }

        #Base_Visitor .SocialNetWorkApp .Line {
            background-image: url(/_MasterPage/_Image/Base_Visitor/Line.png);
            background-repeat: no-repeat;
        }

        #Base_Visitor .SocialNetWorkApp .WhatsApp {
            background-image: url(/_MasterPage/_Image/Base_Visitor/WhatsApp.png);
            background-repeat: no-repeat;
        }

        #Base_Visitor .SocialNetWorkApp .Email {
            background-image: url(/_MasterPage/_Image/Base_Visitor/Email.png);
            background-repeat: no-repeat;
        }

    #Base_Visitor .LocalizationList {
        float: right;
        padding-right: 50px;
        height: 61px;
        line-height: 60px;
    }

        #Base_Visitor .LocalizationList .LocalizationItem {
            margin-right: 4px;
            padding: 5px 10px;
            letter-spacing: 1px;
            font-size: 12px;
            color: white;
            background-color: #009aff;
            border: 1px solid #009aff;
            border-radius: 7px;
            opacity: 0.4;
        }

            #Base_Visitor .LocalizationList .LocalizationItem:hover {
                opacity: 0.8;
            }

            #Base_Visitor .LocalizationList .LocalizationItem.Selected {
                opacity: 1;
            }



    /*-- SlideShow --*/
    #Base_Visitor .flexslider .flex-control-nav {
        position: relative;
        top: -30px;
    }

        #Base_Visitor .flexslider .flex-control-nav a {
            background-color: #fff;
            width: 7px;
            height: 7px;
            border: none;
            opacity: 0.5;
        }

            #Base_Visitor .flexslider .flex-control-nav a.flex-active {
                opacity: 1;
                border: 2px solid #fff;
                opacity: 0.9;
            }

    /*-- Body --*/
    #Base_Visitor .Body {
        margin: 0 auto 0 auto;
        padding: 0 10px;
        min-height: calc( 99.9vh - 7.5rem - 3.75rem );
        width: 1170px;
    }

    #Base_Visitor .Left {
        float: left;
        width: 16%;
    }

        #Base_Visitor .Left h3 {
            padding: 8px;
            display: block;
            font-size: 19px;
            color: #009aff;
        }

    #Base_Visitor .Body .Left .MenuList {
        margin-top: 15px;
    }

        #Base_Visitor .Body .Left .MenuList .MenuItem {
            margin: 6px auto;
            padding: 10px 0;
            display: block;
            text-align: center;
            font-size: 17px;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
            background-color: pink;
            border-radius: 10px;
            background-color: #009AFF;
            box-shadow: #084b78 0px 1px 1px;
            opacity: 0.5;
        }

            #Base_Visitor .Body .Left .MenuList .MenuItem:hover {
                opacity: 0.8;
            }

            #Base_Visitor .Body .Left .MenuList .MenuItem.Selected {
                opacity: 1;
            }

    #Base_Visitor .Body .Right {
        float: right;
        width: 82%;
        box-sizing: border-box;
    }

    #Base_Visitor .Footer {
        margin: 0 auto;
        min-width: 1170px;
        border-top: 2px solid #eee;
        background: #fafafa;
    }

        #Base_Visitor .Footer .Contact, #Base_Visitor .Footer .Contact a {
            padding: 10px;
            color: #666;
            text-align: center;
        }
