#UserList {
    width: 80%;
}

#UserList .Table1{
    width:80%;
}


    #UserList .Table1 {
        width: 100%;
    }

        #UserList .Table1 .Link {
            word-break: break-all;
            text-decoration: underline;
            color: blue;
        }

        #UserList .Table1 .Image {
            display: inline-block;
            text-align: center;
            width: 560px;
            height: 150px;
            overflow: auto;
        }
