body {
    width: 600px;
}


    #SlideShow_Modify .Table2 {
        width: 100%;
    }

        #SlideShow_Modify .Table2 img {
            width: 100%;
        }

    #SlideShow_Modify .Button2.Red {
        float: left;
    }

    #SlideShow_Modify .Button2.Blue {
        float: right;
    }
