body {
    width: 700px;
}


#Article_Modify .Table2 {
    width: 100%;
}

    #Article_Modify .Table2 img {
        width: 100%;
    }

#Article_Modify .Button2.Red {
    float: left;
}

#Article_Modify .Button2.Blue {
    float: right;
}
